<ul id="navigation">
  <li><a href="/about">About</a></li>
  <li><a href="/countries">Countries</a></li>
  <li><a href="/countries/random">Next</a></li>
  <li><a href="/explore">Explore</a></li>
  <li><a href="/keywords">Keywords</a></li>
</ul>
