<div id="panel">
  <%= erb :_navigation %>
  <div class="siteTitle"><a href="/">The Christopher Hitchens Holiday Fun Club</a></div>
  <h1>About the team</h1>
  <%= erb :_social %>
  
  <img src="http://farm6.static.flickr.com/5227/5605903286_cd63200695.jpg" width="390" height="259" />
  <ul>
    <li><a href="http://www.tomboa.net/">Francisco Baptista</a> (<a href="http://twitter.com/tomboa">@tomboa</a>)</li>
    <li><a href="http://www.alecmuffett.com/">Alec Muffett</a> (<a href="http://twitter.com/alecmuffett">@alecmuffett</a>)</li>
    <li><a href="http://www.metade.org/">Patrick Sinclair</a> (<a href="http://twitter.com/metade">@metade</a>)</li>
    <li><a href="http://aefaradien.net/">Alex Hutter</a> (<a href="http://twitter.com/aefaradien">@aefaradien</a>)</li>
  </ul>
  
  <p>at <a href="http://linkedgov.hackcamp.org.uk">LinkedGov HackCamp 2011</a>, 9-10 April 2011.</p>
</div>
<%= erb :poster_image, :locals => { :poster_image => @poster_image } %>
