<div id="panel">
  <%= erb :_navigation %>
  <div class="siteTitle"><a href="/">The Christopher Hitchens Holiday Fun Club</a></div>
  <h1>About</h1>
  <%= erb :_social %>
  
  <p>The journalist Christopher Hitchens once stated a personal goal of visiting one difficult country per year, to better understand the world; our goals are:</p>
  <ul>
    <li>to use the FCO travel advice database to help travellers identify the most difficult countries in the world, to help them plan their visit</li>
    <li>to investigate FCO perception and presentation of other countries, by means of applying brute-force metrics to their publications.</li>
  </ul>
  
  <p>We've selected Belgium as our metric of a relatively <del>boring</del> stable country, and measure all other countries against it, in terms of whatever scores either one achieves in the categories of crime, corruption, terrorism, disease, fierce creatures, natural disasters and so forth...</p>
  
  <p><a href="/about/team">Made by Alec, Francisco, Patrick at the LinkedGov Hackcamp 2011</a></p>
  
  <h2>Data sets used</h2>
  <ul>
    <li>Travel Advice by Country from the <a href="http://www.fco.gov.uk/en/travel-and-living-abroad/travel-advice-by-country/">Foreign and Commonwealth Office</a>, via the <a href="http://fco.innovate.direct.gov.uk/">API provided by DirectGov</li>
    <li><a href="http://online.businesslink.gov.uk/bdotg/action/tariff">UK Trade Tariff data</a>, via the <a href="http://data.linkedgov.com/index.html#fco-dataset">RDF data dumps provided by LinkedGov</a>
     dataset
    <li><a href="http://www.flickr.com">Flickr</a> for the background images</li>
    <li><a href="http://www.yahoo.com">Yahoo Weather</a></li>
  </ul>
</div>
<%= erb :poster_image, :locals => { :poster_image => @poster_image } %>
