<% content_for :metadata do %>
  <title>Holiday Fun Club - Explore</title>
  <meta name="description" content="Explore the world's most difficult countries through a interactive visualisation" />
<% end %>

<div id="panel">
  <%= erb :_navigation %>
  <div class="siteTitle"><a href="/">The Christopher Hitchens Holiday Fun Club</a></div>
  <h1>Explore</h1>
  <%= erb :_social %>
</div>
<div id="thediv" style="width:800px; height:450px;"></div>
<%= erb :poster_image, :locals => { :poster_image => @poster_image } %>

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="DrasticTreemapGApi.js"></script>
<script type="text/javascript">
	google.load("visualization", "1");
	google.load("swfobject", "2.2");

	// Set callback to run when API is loaded
	google.setOnLoadCallback(drawVisualization); 

	// Called when the Visualization API is loaded.
	function drawVisualization() {

	// Create and populate a data table.
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'Product');
	data.addColumn('string', 'Type');

	data.addColumn('number', 'FCO Advice');
	data.addColumn('number', 'Natural Disaster');
	data.addColumn('number', 'Crime');

        data.addRows([
        ['algeria', 'africa',10, 3, 12],
                    ['canada', 'ameria',0, 3, 0],
                    ['portugal', 'europe',0, 0, 6],
                    ['south-korea', 'asia',0, 0, 0],
                    ['japan', 'asia',0, 35, 2],
                    ['france', 'europe',0, 0, 2],
                    ['poland', 'europe',0, 0, 1],
                    ['mexico', 'ameria',15, 11, 24],
                    ['india', 'asia',5, 2, 11],
                    ['thailand', 'asia',25, 12, 5],
                    ['united-states', 'ameria',0, 4, 0],
                    ['australia', 'australia',0, 12, 2],
                    ['spain', 'europe',0, 0, 4],
                    ['italy', 'europe',0, 5, 3],
                    ['germany', 'europe',0, 0, 0],
                    ['brazil', 'ameria',0, 17, 5],
                    ['benin', 'africa',5, 2, 1],
                    ['south-africa', 'africa',5, 1, 21],
                    ['china', 'asia',0, 19, 3],
                    ['north-korea', 'asia',0, 1, 4],
                    ['angola', 'africa',5, 0, 20],
                    ['uganda', 'africa',0, 0, 3],
                            ]);

        /*
        data.addRows([
	  ['Japan', 'Asia', 10, 100, 400, 400],
	  ['China', 'Asia', 50, 400, 300, 400],
	  ['India', 'Asia', 200, 400, 500, 400],
	  ['Korea', 'Asia', 500, 1000, 700, 700],
	  ['South Korea', 'Asia', 500, 1000, 700, 700],

	  ['USA', 'America', 700, 300, 200, 200],
	  ['Canada', 'America', 800, 700, 600, 200],
	  ['Mexico', 'America', 200, 300, 100, 200],
	  ['Jamaica', 'America', 100, 150, 500, 40],
	  ['Peru', 'America', 100, 150, 500, 40],

          ['Angola', 'Africa', 800, 1000, 900, 500],
	  ['Senagal', 'Africa', 250, 100, 300, 50],
	  ['Uganda', 'Africa', 120, 300, 200, 100],
	  ['Burundi', 'Africa', 50, 300, 200, 50],
	  ['South Africa', 'Africa', 50, 300, 200, 50],

	  ['Portugal', 'Europe', 200, 300, 400, 500],
	  ['France', 'Europe', 400, 600, 200, 500],
	  ['England', 'Europe', 500, 200, 300, 500]
	]);
         */

	// Instantiate our object.
	var vis = new drasticdata.DrasticTreemap(document.getElementById('thediv'));

	// Draw the treemap with the data we created locally and some options:
	vis.draw(data, {
		groupbycol: "Type",
		labelcol: "Product",
		variables: ['Terrorism', 'Disease', 'War']
		}
	);
   }
</script>
