<div id="panel">
  <div class="siteTitle"><a href="/">The Christopher Hitchens Holiday Fun Club</a></div>
  
  <h1>Explore</h1>
</div>

<div id="explore" class="container">
  <img src="http://placekitten.com/900/500" width="900" height="500">
</div>
<%= erb :poster_image, :locals => { :poster_image => nil } %>
