<div id="panel">
  <h1>The Christopher Hitchens Holiday Fun Club</h1>
  <quote>"He also travels the world to report on foreign affairs and tries to visit at least one <del>fucked-up</del> 'difficult' country a year, often at his own expense."</quote>
  <a href="http://www.guardian.co.uk/books/2002/apr/14/politics">The Guardian</a>
</div>
