<div id="panel">
  <div class="siteTitle"><a href="/">The Christopher Hitchens Holiday Fun Club</a></div>
  
  <h1>Browse by Keyword</h1>
</div>

<div id="tagcloud" class="container">
  <%= tag_cloud(@keywords) %>
</div>
