<div id="panel">
  <%= erb :_navigation %>
  <div class="siteTitle"><a href="/">The Christopher Hitchens Holiday Fun Club</a></div>
  
  <h1>Browse by Keyword</h1>
  <div id="tagcloud">
    <%= tag_cloud(@keywords) %>
  </div>
</div>
<%= erb :poster_image, :locals => { :poster_image => @poster_image } %>
