#panel { background-color: rgba(0, 0, 0, 0.496094); margin-left: 20px; padding: 30px 15px 15px; width: 390px; }

#panel { color: #fff;}
#panel h1 { color: #fff; font-weight: bold; }
#panel h2 { color: #fff; margin-bottom: 0.5em; }
#panel a { color: #fff; font-weight: bold; }
#panel del { color: #fff; }

#panel .random { margin-top: 1em; width: 100%; text-align: right; }
#panel .random a { text-decoration: none; text-transform: uppercase; }

#panel .siteTitle {  font-size: 20px; border-bottom: 3px solid white; margin-bottom: 1em; text-align: center; }
#panel .siteTitle a { color: #fff; text-decoration: none; font-weight: normal; }

#posterwall { width: 100%; left: 0px; position: fixed; top: 0px; z-index: -1; }

#photoPanel { position: fixed; bottom: 10px; right: 10px; background-color: rgba(0, 0, 0, 0.496094); padding: 2px 10px; }
#photoPanel a { color: #fff; }

#tagcloud { color: #fff; margin-bottom: 0.5em; }
#tagcloud a { color: #F5F524; font-weight: normal; text-decoration: none; }
#tagcloud.container a { color: #111; }

#amazon { position: fixed; top: 300px; right: 10px; }

#belgiums { position: fixed; top: 10px; right: 10px; text-align: right; background: #fff; padding: 5px;}
#belgiums .score { display: block; float: right; }
#belgiums .score .bar { background: #fff url('/images/be.png') repeat-x; display: inline-block; }

#belgiums dt { display: block; float: left; }
#belgiums dd { display: block; }

#commodities { margin-bottom: 0.5em; }
#commodities a { text-decoration: none; }