#panel { background-color: rgba(0, 0, 0, 0.496094); margin-left: 20px; padding: 30px 15px 15px; width: 390px; }
#panel h1 { color: #fff; }
#posterwall { width: 100%; left: 0px; position: fixed; top: 0px; z-index: -1; }
